{% load static %} {% load sass_tags %}
<div class="col-xxl-8 col-lg-12 box-col-12 position-relative">
  <div class="card">
    <div class="card-header card-no-border d-flex justify-content-between align-items-center">
      <h5>Overall balance</h5>
      <div class="dropdown icon-dropdown">
        <button class="btn dropdown-toggle" id="dataFilterDropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="icon-more-alt"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dataFilterDropdown">
          <a class="dropdown-item" href="#" data-filter="hourly">Hourly</a>
          <a class="dropdown-item" href="#" data-filter="daily">Daily</a>
          <a class="dropdown-item" href="#" data-filter="monthly">Monthly</a>
        </div>
      </div>
    </div>
    <div class="card-body pt-0">
      <div class="row m-0 overall-card">
        <div class="col-xl-12 col-md-12 col-sm-12 p-0">
          <div class="chart-right">
            <div class="row">
              <div class="col-xl-12">
                <div class="card-body p-0">
                  <ul class="balance-data">
                    <li><span class="circle bg-warning"> </span><span class="f-light ms-1">Horeca</span></li>
                    <li><span class="circle bg-primary"> </span><span class="f-light ms-1">Loyality</span></li>
                  </ul>
                  <div class="current-sale-container">
                    <div id="chart-currently1"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div id="TEST" class="col-xl-12 col-md-12 col-sm-12 p-0 mt-4">
          <div class="row g-sm-4 g-2" style="padding-top: 10em;">

            <div class="col-xl-4 col-md-4">
      <div class="light-card balance-card widget-hover">
        <div class="svg-box">
          <svg class="svg-fill">
            <use href="{% static 'assets/svg/icon-sprite.svg'%}#income"></use>
          </svg>
        </div>
        <div> <span class="f-light">Horeca</span>
          <h6 class="mt-1 mb-0" id="horeca-total">$0.00</h6>
        </div>
        <div class="ms-auto text-end">
          <span class="font-success">Loading...</span>
        </div>
      </div>
    </div>

          <div class="col-xl-4 col-md-4">
      <div class="light-card balance-card widget-hover">
        <div class="svg-box">
          <svg class="svg-fill">
            <use href="{% static 'assets/svg/icon-sprite.svg'%}#expense"></use>
          </svg>
        </div>
        <div> <span class="f-light">Loyalty</span>
          <h6 class="mt-1 mb-0" id="loyalty-total">$0.00</h6>
        </div>
        <div class="ms-auto text-end">
          <span class="font-danger">Loading...</span>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-4">
      <div class="light-card balance-card widget-hover">
        <div class="svg-box">
          <svg class="svg-fill">
            <use href="{% static 'assets/svg/icon-sprite.svg'%}#doller-return"></use>
          </svg>
        </div>
        <div> <span class="f-light">Other</span>
          <h6 class="mt-1 mb-0" id="other-total">$0.00</h6>
        </div>
        <div class="ms-auto text-end">
          <span class="font-danger">Loading...</span>
        </div>
      </div>
    </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xxl-4 col-xl-7 col-md-6 col-sm-5 box-col-6">
  <div class="card height-equal">
    <div class="card-header card-no-border">
      <div class="header-top">
        <h5>Recent Orders</h5>
        <div class="card-header-right-icon">
          <div class="dropdown icon-dropdown">
            <button class="btn dropdown-toggle" id="recentdropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="icon-more-alt"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="recentdropdown">
              <a class="dropdown-item" href="#" data-filter="daily">Daily</a>
              <a class="dropdown-item" href="#" data-filter="weekly">Weekly</a>
              <a class="dropdown-item" href="#" data-filter="monthly">Monthly</a>
              <a class="dropdown-item" href="#" data-filter="yearly">Yearly</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body pt-0">
      <div class="row recent-wrapper">
        <div class="col-xl-6">
          <div class="recent-chart">
            <div id="recentchart1"></div>
          </div>
        </div>
        <div class="col-xl-6">
          <ul class="order-content">
            <li id="completed-order">
              <span class="recent-circle bg-primary"></span>
              <div>
                <span class="f-light f-w-300">Completed</span>
                <h4 class="mt-1 mb-0"><span class="count">0</span><span class="f-light f-12 f-w-250 ms-1">(Last 6 Month)</span></h4>
              </div>
            </li>
            <li id="stock-returned-order">
              <span class="recent-circle bg-info"></span>
              <div>
                <span class="f-light f-w-300">Stock Returned</span>
                <h4 class="mt-1 mb-0"><span class="count">0</span><span class="f-light f-12 f-w-250 ms-1">(Last 6 Month)</span></h4>
              </div>
            </li>
            <li id="canceled-order">
              <span class="recent-circle bg-danger"></span>
              <div>
                <span class="f-light f-w-300">Cancelled</span>
                <h4 class="mt-1 mb-0"><span class="count">0</span><span class="f-light f-12 f-w-250 ms-1">(Last 6 Month)</span></h4>
              </div>
            </li>
            <li id="on-hold-order">
              <span class="recent-circle bg-warning"></span>
              <div>
                <span class="f-light f-w-300">On Hold</span>
                <h4 class="mt-1 mb-0"><span class="count">0</span><span class="f-light f-12 f-w-250 ms-1">(Last 6 Month)</span></h4>
              </div>
            </li>
            <li id="in-progress-order">
              <span class="recent-circle bg-success"></span>
              <div>
                <span class="f-light f-w-300">In Progress</span>
                <h4 class="mt-1 mb-0"><span class="count">0</span><span class="f-light f-12 f-w-250 ms-1">(Last 6 Month)</span></h4>
              </div>
            </li>
            <li id="open-order">
              <span class="recent-circle bg-secondary"></span>
              <div>
                <span class="f-light f-w-300">Open</span>
                <h4 class="mt-1 mb-0"><span class="count">0</span><span class="f-light f-12 f-w-250 ms-1">(Last 6 Month)</span></h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="col-xxl-4 col-md-6 appointment-sec box-col-6">
    <div class="appointment">
        <div class="card">
            <div class="card-header card-no-border">
                <div class="header-top">
                    <h5 class="m-0">Top Customers</h5>
                    <div class="card-header-right-icon">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" id="recentButton" type="button" data-bs-toggle="dropdown" aria-expanded="false">Today</button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="recentButton">
                                <a class="dropdown-item" href="#">Today</a>
                                <a class="dropdown-item" href="#">Tomorrow</a>
                                <a class="dropdown-item" href="#">Yesterday</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0">
                <div class="appointment-table table-responsive">
                    <table class="table table-bordernone">
                        <tbody id="topCustomersData">
                            <!-- Top customers data will be populated here -->
                        </tbody>
                    </table>
                </div>
                <div id="topCustomersPagination" class="text-center mt-3">
                    <!-- Pagination buttons will be populated here -->
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="col-xxl-4 col-md-6 appointment-sec box-col-6">
        <div class="appointment">
            <div class="card">
                <div class="card-header card-no-border">
                    <div class="header-top">
                        <h5 class="m-0">Top Arkataret</h5>
                        <div class="card-header-right-icon">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" id="recentButton" type="button" data-bs-toggle="dropdown" aria-expanded="false">Today</button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="recentButton">
                                    <a class="dropdown-item" href="#">Today</a>
                                    <a class="dropdown-item" href="#">Tomorrow</a>
                                    <a class="dropdown-item" href="#">Yesterday</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="appointment-table table-responsive">
                        <table class="table table-bordernone">
                            <tbody id="salesData">
                                <!-- Sales data will be populated here -->
                            </tbody>
                        </table>
                    </div>
                    <div id="pagination" class="text-center mt-3">
                        <!-- Pagination buttons will be populated here -->
                    </div>
                </div>
            </div>
        </div>
    </div>



<div class="col-xxl-4 col-md-6 appointment-sec box-col-6">
    <div class="appointment">
        <div class="card">
            <div class="card-header card-no-border">
                <div class="header-top">
                    <h5 class="m-0">Top Sold Products</h5>
                    <div class="card-header-right-icon">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" id="productButton" type="button" data-bs-toggle="dropdown" aria-expanded="false">Today</button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="productButton">
                                <a class="dropdown-item" href="#">Today</a>
                                <a class="dropdown-item" href="#">Tomorrow</a>
                                <a class="dropdown-item" href="#">Yesterday</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0">
                <div class="appointment-table table-responsive">
                    <table class="table table-bordernone">
                        <tbody id="topProductsData">
                            <!-- Top products data will be populated here -->
                        </tbody>
                    </table>
                </div>
                <div id="topProductsPagination" class="text-center mt-3">
                    <!-- Pagination buttons will be populated here -->
                </div>
            </div>
        </div>
    </div>
</div>



<style>
  .icon-dropdown {
    position: absolute;
    top: 10px;
    right: 10px;
  }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
  var options = {
    series: [
      {
        name: 'HORECA',
        data: []
      },
      {
        name: 'LOYALTY',
        data: []
      }
    ],
    chart: {
      type: 'bar',
      height: 400,
      stacked: true,
      toolbar: {
        show: false,
      },
      dropShadow: {
        enabled: true,
        top: 8,
        left: 0,
        blur: 10,
        color: '#7064F5',
        opacity: 0.1
      }
    },
    plotOptions: {
      bar: {
        horizontal: false,
        columnWidth: '25px',
        borderRadius: 0,
      },
    },
    grid: {
      show: true,
      borderColor: 'var(--chart-border)',
    },
    dataLabels: {
      enabled: false,
    },
    stroke: {
      width: 2,
      dashArray: 0,
      lineCap: 'butt',
      colors: "#fff",
    },
    fill: {
      opacity: 1
    },
    legend: {
      show: false
    },
    states: {
      hover: {
        filter: {
          type: 'darken',
          value: 1,
        }
      }
    },
    colors: ['#7366FF', '#AAAFCB'],
    yaxis: {
      tickAmount: 3,
      labels: {
        formatter: function (value) {
          if (value >= 1000000) {
            return (value / 1000000).toFixed(1) + 'M';
          } else if (value >= 1000) {
            return (value / 1000).toFixed(1) + 'K';
          } else {
            return value.toFixed(0);
          }
        },
        show: true,
        style: {
          fontFamily: 'Rubik, sans-serif',
        },
      },
      axisBorder: {
        show: false,
      },
      axisTicks: {
        show: false,
      },
    },
    xaxis: {
      categories: [],
      labels: {
        style: {
          fontFamily: 'Rubik, sans-serif',
        },
      },
      axisBorder: {
        show: false,
      },
      axisTicks: {
        show: false,
      },
    },
    responsive: [
      {
        breakpoint: 1661,
        options: {
          chart: {
            height: 290,
          }
        }
      },
      {
        breakpoint: 767,
        options: {
          plotOptions: {
            bar: {
              columnWidth: '35px',
            },
          },
          yaxis: {
            labels: {
              show: true,
            }
          }
        }
      },
      {
        breakpoint: 481,
        options: {
          chart: {
            height: 200,
          }
        }
      },
      {
        breakpoint: 420,
        options: {
          chart: {
            height: 170,
          },
          plotOptions: {
            bar: {
              columnWidth: '40px',
            },
          }
        }
      },
    ]
  };

  async function fetchChartData() {
    try {
      const response = await fetch('/order-chart/?format=json');
      const data = await response.json();
      return data;
    } catch (error) {
      console.error('Error fetching data:', error);
      return null;
    }
  }

  async function initializeChart(filterType = 'hourly') {
    const data = await fetchChartData();
    if (!data) return;

    let chartData = {
      horeca: [],
      loyalty: []
    };
    let categories = [];

    const processData = (filterType) => {
      if (filterType === 'hourly') {
        categories = Array.from({ length: 24 }, (_, i) => i);
        chartData.horeca = Array(24).fill(0);
        chartData.loyalty = Array(24).fill(0);
        data.hourly.forEach(item => {
          const hour = new Date(item.period).getHours();
          if (item.horeca !== undefined) chartData.horeca[hour] += item.horeca;
          if (item.loyalty !== undefined) chartData.loyalty[hour] += item.loyalty;
        });
      } else if (filterType === 'daily') {
        const daysInMonth = new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate();
        categories = Array.from({ length: daysInMonth }, (_, i) => i + 1);
        chartData.horeca = Array(daysInMonth).fill(0);
        chartData.loyalty = Array(daysInMonth).fill(0);
        data.daily.forEach(item => {
          const day = new Date(item.period).getDate() - 1;
          if (item.horeca !== undefined) chartData.horeca[day] += item.horeca;
          if (item.loyalty !== undefined) chartData.loyalty[day] += item.loyalty;
        });
      } else if (filterType === 'monthly') {
        categories = Array.from({ length: 12 }, (_, i) => i + 1);
        chartData.horeca = Array(12).fill(0);
        chartData.loyalty = Array(12).fill(0);
        data.monthly.forEach(item => {
          const month = new Date(item.period).getMonth();
          if (item.horeca !== undefined) chartData.horeca[month] += item.horeca;
          if (item.loyalty !== undefined) chartData.loyalty[month] += item.loyalty;
        });
      }
    };

    processData(filterType);

    // Check if data is empty, and if so, revert to hourly
    if (chartData.horeca.every(value => value === 0) && chartData.loyalty.every(value => value === 0)) {
      console.log(`No data found for ${filterType}, reverting to hourly.`);
      processData('hourly');
    }

    options.series[0].data = chartData.horeca;
    options.series[1].data = chartData.loyalty;
    options.xaxis.categories = categories;

    var chart = new ApexCharts(document.querySelector("#chart-currently1"), options);
    chart.render();
  }

  document.addEventListener('DOMContentLoaded', () => {
    initializeChart();

    document.querySelectorAll('.dropdown-item').forEach(item => {
      item.addEventListener('click', (event) => {
        const filterType = event.target.getAttribute('data-filter');
        document.getElementById('dataFilterDropdown').textContent = event.target.textContent;
        initializeChart(filterType);
      });
    });
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    fetch("http://localhost:8000/order-summaries/?format=json")
      .then(response => response.json())
      .then(data => {
        data.forEach(item => {
          let formattedSum = formatNumber(parseFloat(item.total_sum));
          if (item.order_type === "horeca") {
            document.getElementById("horeca-total").innerText = formattedSum;
          } else if (item.order_type === "loyalty") {
            document.getElementById("loyalty-total").innerText = formattedSum;
          } else {
            document.getElementById("other-total").innerText = formattedSum;
          }
        });
      })
      .catch(error => {
        console.error("Error fetching data:", error);
      });
  });

  function formatNumber(num) {
    if (num >= 1000000) {
      return (num / 1000000).toFixed(1) + 'M';
    } else if (num >= 1000) {
      return (num / 1000).toFixed(1) + 'K';
    } else {
      return num.toString();
    }
  }
</script>



<script>
document.addEventListener('DOMContentLoaded', () => {
    const dropdownMenu = document.querySelector('.dropdown-menu');
    let recentchart;

    async function fetchOrderStatusSummary() {
        try {
            const response = await fetch('/order-status/?format=json');
            const data = await response.json();
            console.log('Fetched data:', data); // Log the fetched data
            return data;
        } catch (error) {
            console.error('Error fetching data:', error);
            return null;
        }
    }

    function updateOrderContent(data, filterType) {
        const statusCounts = {
            completed: 0,
            'stock-returned': 0,
            canceled: 0,
            'on-hold': 0,
            'in-progress': 0,
            open: 0,
        };

        console.log('Filter type:', filterType); // Log the filter type
        console.log('Data for filter type:', data[filterType]); // Log the data for the specific filter type

        data[filterType].forEach(item => {
            switch (item.status) {
                case 'completed':
                    statusCounts.completed += item.count;
                    break;
                case 'stock-returned':
                    statusCounts['stock-returned'] += item.count;
                    break;
                case 'canceled':
                    statusCounts.canceled += item.count;
                    break;
                case 'on-hold':
                    statusCounts['on-hold'] += item.count;
                    break;
                case 'in-progress':
                    statusCounts['in-progress'] += item.count;
                    break;
                case 'open':
                    statusCounts.open += item.count;
                    break;
                default:
                    break;
            }
        });

        console.log('Updated status counts:', statusCounts); // Log the updated status counts

        const completedOrderElement = document.querySelector('#completed-order .count');
        if (completedOrderElement) {
            completedOrderElement.textContent = statusCounts.completed;
        } else {
            console.error('Element not found: #completed-order .count');
        }

        const stockReturnedOrderElement = document.querySelector('#stock-returned-order .count');
        if (stockReturnedOrderElement) {
            stockReturnedOrderElement.textContent = statusCounts['stock-returned'];
        } else {
            console.error('Element not found: #stock-returned-order .count');
        }

        const canceledOrderElement = document.querySelector('#canceled-order .count');
        if (canceledOrderElement) {
            canceledOrderElement.textContent = statusCounts.canceled;
        } else {
            console.error('Element not found: #canceled-order .count');
        }

        const onHoldOrderElement = document.querySelector('#on-hold-order .count');
        if (onHoldOrderElement) {
            onHoldOrderElement.textContent = statusCounts['on-hold'];
        } else {
            console.error('Element not found: #on-hold-order .count');
        }

        const inProgressOrderElement = document.querySelector('#in-progress-order .count');
        if (inProgressOrderElement) {
            inProgressOrderElement.textContent = statusCounts['in-progress'];
        } else {
            console.error('Element not found: #in-progress-order .count');
        }

        const openOrderElement = document.querySelector('#open-order .count');
        if (openOrderElement) {
            openOrderElement.textContent = statusCounts.open;
        } else {
            console.error('Element not found: #open-order .count');
        }

        // Update the profit percentage
        const profitPercentage = data.profit_percentage[filterType];
        const profitPercentageElement = document.querySelector('.profit-percentage');
        if (profitPercentageElement) {
            profitPercentageElement.textContent = `${profitPercentage.toFixed(2)}%`;
        } else {
            console.error('Element not found: .profit-percentage');
        }

        // Update the chart
        console.log('Updating chart with profit percentage:', profitPercentage); // Log the profit percentage being set
        updateChart(profitPercentage);
    }

    async function initializeOrderStatusSummary(filterType = 'daily') {
        const data = await fetchOrderStatusSummary();
        if (data) {
            updateOrderContent(data, filterType);
        }
    }

    function updateChart(profitPercentage) {
        if (recentchart) {
            recentchart.updateSeries([profitPercentage]);
            console.log('Chart series updated:', [profitPercentage]); // Log the new series value
        } else {
            console.error('Chart not initialized');
        }
    }

    // Event listener for the dropdown menu
    document.querySelectorAll('.dropdown-item').forEach(item => {
        item.addEventListener('click', (event) => {
            const filterType = event.target.getAttribute('data-filter');
            if (filterType) {
                console.log('Selected filter type:', filterType); // Log the selected filter type
                initializeOrderStatusSummary(filterType);
            }
        });
    });

    // Initial load with default filter (daily)
    initializeOrderStatusSummary();

    // Initialize the chart
    const recentoptions = {
        series: [0], // Initial value, will be updated
        chart: {
            height: 290,
            type: 'radialBar',
            toolbar: {
                show: false
            }
        },
        plotOptions: {
            radialBar: {
                hollow: {
                    margin: 0,
                    size: '60%',
                    background: 'var(--recent-chart-bg)',
                    image: undefined,
                    imageOffsetX: 0,
                    imageOffsetY: 0,
                    position: 'front',
                    dropShadow: {
                        enabled: true,
                        top: 3,
                        left: 0,
                        blur: 4,
                        opacity: 0.05
                    }
                },
                track: {
                    background: '#F4F4F4',
                    strokeWidth: '67%',
                    margin: 0,
                    dropShadow: {
                        enabled: true,
                        top: 0,
                        left: 0,
                        blur: 10,
                        color: '#ddd',
                        opacity: 1
                    }
                },

                dataLabels: {
                    show: true,
                    name: {
                        offsetY: 30,
                        show: true,
                        color: '#888',
                        fontSize: '17px',
                        fontWeight: '500',
                        fontFamily: 'Rubik, sans-serif',
                    },
                    value: {
                        formatter: function (val) {
                            return parseInt(val);
                        },
                        offsetY: -8,
                        color: '#111',
                        fontSize: '36px',
                        show: true,
                    }
                }
            }
        },
        fill: {
            type: 'gradient',
            gradient: {
                shade: 'dark',
                type: 'horizontal',
                shadeIntensity: 0.5,
                opacityFrom: 1,
                opacityTo: 1,
                colorStops: [
                    {
                        offset: 0,
                        color: "#7366FF",
                        opacity: 1
                    },
                    {
                        offset: 20,
                        color: "#3EA4F1",
                        opacity: 1
                    },
                    {
                        offset: 100,
                        color: "#FFFFFF",
                        opacity: 1
                    },
                ]
            }
        },
        stroke: {
            lineCap: 'round'
        },
        labels: ['Total Profit'],
        responsive: [
            {
                breakpoint: 1840,
                options: {
                    chart: {
                        height: 260,
                    }
                }
            },
            {
                breakpoint: 1700,
                options: {
                    chart: {
                        height: 250,
                    }
                }
            },
            {
                breakpoint: 1660,
                options: {
                    chart: {
                        height: 230,
                        dataLabels: {
                            name: {
                                fontSize: '15px',
                            }
                        }
                    },
                },
            },
            {
                breakpoint: 1561,
                options: {
                    chart: {
                        height: 275,
                    },
                },
            },
            {
                breakpoint: 1400,
                options: {
                    chart: {
                        height: 360,
                    },
                },
            },
            {
                breakpoint: 1361,
                options: {
                    chart: {
                        height: 300,
                    },
                },
            },
            {
                breakpoint: 1200,
                options: {
                    chart: {
                        height: 230,
                    },
                },
            },
            {
                breakpoint: 1007,
                options: {
                    chart: {
                        height: 240,
                    },
                },
            },
            {
                breakpoint: 600,
                options: {
                    chart: {
                        height: 230,
                    },
                },
            },
        ]
    };

    recentchart = new ApexCharts(document.querySelector("#recentchart1"), recentoptions);
    recentchart.render();
});

</script>


  <script>
        $(document).ready(function() {
            console.log("Document is ready");
            var currentPage = 1;
            var pageSize = 5;

            // Function to populate sales data
            function populateSalesData(data) {
                console.log("Populating sales data:", data);  // Debugging statement
                var startIndex = (currentPage - 1) * pageSize;
                var endIndex = startIndex + pageSize;
                var salesHtml = '';
                var hasNextPage = data.length > endIndex;

                $.each(data.slice(startIndex, endIndex), function(index, item) {
                    salesHtml += '<tr style="display: flex; justify-content: space-between; align-items: center;">'; // Apply inline styling to the table row
                    salesHtml += '<td style="flex: 1;"><a class="d-block f-w-500" href="user-profile.html">' + item.operator_name + '</a><span class="f-light">' + item.transaction_count + '</span></td>'; // Apply inline styling to the first column
                    salesHtml += '<td class="text-end" style="flex: 1; text-align: right;"><p class="m-0 font-success">VFS' + item.organization_id + '</p></td>'; // Apply inline styling to the second column
                    salesHtml += '</tr>';
                });

                $('#salesData').html(salesHtml);

                // Update pagination controls
                updatePagination(hasNextPage);
            }

            // Function to update pagination controls
            function updatePagination(hasNextPage) {
                var paginationHtml = '';
                if (currentPage > 1) {
                    paginationHtml += '<button class="btn btn-outline-primary" id="prevPageBtn" style="margin-right: 5px">Prev</button>';
                }
                if (hasNextPage) {
                    paginationHtml += '<button class="btn btn-outline-primary" id="nextPageBtn">Next</button>';
                }
                $('#pagination').html(paginationHtml);
            }

            // Function to fetch sales data from the server
            function fetchSalesData() {
                console.log("Fetching sales data...");  // Debugging statement
                $.ajax({
                    url: '/arkataret-top/?format=json',
                    method: 'GET',
                    success: function(response) {
                        console.log("Sales data fetched successfully:", response);  // Debugging statement
                        if (response && response.operators) {
                            populateSalesData(response.operators);
                        } else {
                            console.error("Invalid response format:", response);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error fetching sales data:', error);
                    }
                });
            }

            // Fetch sales data initially
            fetchSalesData();

            // Previous page button click event handler
            $(document).on('click', '#prevPageBtn', function() {
                if (currentPage > 1) {
                    currentPage--;
                    fetchSalesData();
                }
            });

            // Next page button click event handler
            $(document).on('click', '#nextPageBtn', function() {
                currentPage++;
                fetchSalesData();
            });
        });
    </script>


<script>
document.addEventListener('DOMContentLoaded', function() {
    var currentPage = 1;
    var pageSize = 5;

    // Function to format the number with 'k' for thousands and 'm' for millions
    function formatNumber(value) {
        if (value >= 1000000) {
            return (value / 1000000).toFixed(1) + 'm';
        } else if (value >= 1000) {
            return (value / 1000).toFixed(1) + 'k';
        } else {
            return value;
        }
    }

    // Function to populate top customers data
    function populateTopCustomersData(data) {
        console.log("Populating top customers data:", data);  // Debugging statement
        var startIndex = (currentPage - 1) * pageSize;
        var endIndex = startIndex + pageSize;
        var topCustomersHtml = '';
        var hasNextPage = data.length > endIndex;

        $.each(data.slice(startIndex, endIndex), function(index, item) {
            topCustomersHtml += '<tr style="display: flex; justify-content: space-between; align-items: center;">'; // Apply inline styling to the table row
            topCustomersHtml += '<td style="flex: 1;"><a class="d-block f-w-500" href="#">' + item.user__first_name + ' ' + item.user__last_name + '</a><span class="f-light">€' + formatNumber(item.total_spent) + '</span></td>'; // Apply inline styling to the first column
            topCustomersHtml += '<td class="text-end" style="flex: 1; text-align: right;"><p class="m-0 font-success">User ID: ' + item.user__id + '</p></td>'; // Apply inline styling to the second column
            topCustomersHtml += '</tr>';
        });

        $('#topCustomersData').html(topCustomersHtml);

        // Update pagination controls
        updateTopCustomersPagination(hasNextPage);
    }

    // Function to update pagination controls
    function updateTopCustomersPagination(hasNextPage) {
        var paginationHtml = '';
        if (currentPage > 1) {
            paginationHtml += '<button class="btn btn-outline-primary" id="prevTopCustomersPageBtn" style="margin-right: 5px">Prev</button>';
        }
        if (hasNextPage) {
            paginationHtml += '<button class="btn btn-outline-primary" id="nextTopCustomersPageBtn">Next</button>';
        }
        $('#topCustomersPagination').html(paginationHtml);
    }

    // Function to fetch top customers data from the server
    function fetchTopCustomersData() {
        console.log("Fetching top customers data...");  // Debugging statement
        $.ajax({
            url: '/most-valuable-customers/?format=json',
            method: 'GET',
            success: function(response) {
                console.log("Top customers data fetched successfully:", response);  // Debugging statement
                if (response && response.top_customers) {
                    populateTopCustomersData(response.top_customers);
                } else {
                    console.error("Invalid response format:", response);
                }
            },
            error: function(xhr, status, error) {
                console.error('Error fetching top customers data:', error);
            }
        });
    }

    // Fetch top customers data initially
    fetchTopCustomersData();

    // Previous page button click event handler
    $(document).on('click', '#prevTopCustomersPageBtn', function() {
        if (currentPage > 1) {
            currentPage--;
            fetchTopCustomersData();
        }
    });

    // Next page button click event handler
    $(document).on('click', '#nextTopCustomersPageBtn', function() {
        currentPage++;
        fetchTopCustomersData();
    });
});
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var currentPage = 1;
    var pageSize = 5;

    // Function to populate top products data
    function populateTopProductsData(data) {
        console.log("Populating top products data:", data);  // Debugging statement
        var startIndex = (currentPage - 1) * pageSize;
        var endIndex = startIndex + pageSize;
        var topProductsHtml = '';
        var hasNextPage = data.length > endIndex;

        $.each(data.slice(startIndex, endIndex), function(index, item) {
            topProductsHtml += '<tr style="display: flex; justify-content: space-between; align-items: center;">'; // Apply inline styling to the table row
            topProductsHtml += '<td style="flex: 1;"><a class="d-block f-w-500" href="#">Product ID: ' + item.product_id + '</a><span class="f-light">Quantity: ' + item.total_quantity_sold + '</span></td>'; // Apply inline styling to the first column
            topProductsHtml += '</tr>';
        });

        $('#topProductsData').html(topProductsHtml);

        // Update pagination controls
        updateTopProductsPagination(hasNextPage);
    }

    // Function to update pagination controls
    function updateTopProductsPagination(hasNextPage) {
        var paginationHtml = '';
        if (currentPage > 1) {
            paginationHtml += '<button class="btn btn-outline-primary" id="prevTopProductsPageBtn" style="margin-right: 5px">Prev</button>';
        }
        if (hasNextPage) {
            paginationHtml += '<button class="btn btn-outline-primary" id="nextTopProductsPageBtn">Next</button>';
        }
        $('#topProductsPagination').html(paginationHtml);
    }

    // Function to fetch top products data from the server
    function fetchTopProductsData() {
        console.log("Fetching top products data...");  // Debugging statement
        $.ajax({
            url: '/most-sold-products/?format=json',
            method: 'GET',
            success: function(response) {
                console.log("Top products data fetched successfully:", response);  // Debugging statement
                if (response && response.top_products) {
                    populateTopProductsData(response.top_products);
                } else {
                    console.error("Invalid response format:", response);
                }
            },
            error: function(xhr, status, error) {
                console.error('Error fetching top products data:', error);
            }
        });
    }

    // Fetch top products data initially
    fetchTopProductsData();

    // Previous page button click event handler
    $(document).on('click', '#prevTopProductsPageBtn', function() {
        if (currentPage > 1) {
            currentPage--;
            fetchTopProductsData();
        }
    });

    // Next page button click event handler
    $(document).on('click', '#nextTopProductsPageBtn', function() {
        currentPage++;
        fetchTopProductsData();
    });
});

</script>