{% load static %}
{% load sass_tags %}
<div class="row widget-grid">
<div class="col-xxl-4 col-sm-6 box-col-6 ">
  <div class="card profile-box gradient-bg">
    <div class="card-body ">
      <div class="media">
        <div class="media-body">
          <div class="greeting-user">
            <h4 style="" class="f-w-600">Pershendetje <br>{{ request.user.username }}</h4>

            <div class="whatsnew-btn"><a class="btn btn-outline-white">SHIKO!</a></div>
          </div>
        </div>
        <div>
          <div class="clockbox">
            <svg id="clock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600">
              <g id="face">
                <circle class="circle" cx="300" cy="300" r="253.9"></circle>
                <path class="hour-marks" d="M300.5 94V61M506 300.5h32M300.5 506v33M94 300.5H60M411.3 107.8l7.9-13.8M493 190.2l13-7.4M492.1 411.4l16.5 9.5M411 492.3l8.9 15.3M189 492.3l-9.2 15.9M107.7 411L93 419.5M107.5 189.3l-17.1-9.9M188.1 108.2l-9-15.6"></path>
                <circle class="mid-circle" cx="300" cy="300" r="16.2"></circle>
              </g>
              <g id="hour">
                <path class="hour-hand" d="M300.5 298V142"></path>
                <circle class="sizing-box" cx="300" cy="300" r="253.9"></circle>
              </g>
              <g id="minute">
                <path class="minute-hand" d="M300.5 298V67"></path>
                <circle class="sizing-box" cx="300" cy="300" r="253.9"></circle>
              </g>
              <g id="second">
                <path class="second-hand" d="M300.5 350V55"></path>
                <circle class="sizing-box" cx="300" cy="300" r="253.9">   </circle>
              </g>
            </svg>
          </div>
          <div class="badge f-10 p-0" id="txt"></div>
        </div>
      </div>
      <div class="cartoon"><img class="img-fluid" src="{% static 'assets/images/dashboard/cartoon.svg'%}" alt="vector women with leptop"></div>
    </div>
  </div>
</div>
<div class="col-xxl-auto col-xl-3 col-sm-6 box-col-6">
  <div class="row">
    <div class="col-xl-12">
 <div class="card widget-1 gradient-bg">
    <div class="card-body">
        <div class="widget-content">
            <div class="widget-round secondary">
                <div class="bg-round">
                    <svg class="svg-fill">
                        <use href="{% static 'assets/svg/icon-sprite.svg'%}#cart"> </use>
                    </svg>
                    <svg class="half-circle svg-fill">
                        <use href="{% static 'assets/svg/icon-sprite.svg'%}#halfcircle"></use>
                    </svg>
                </div>
            </div>
            <div>
                <h4 id="incomeValue"></h4><span class="f-light">Blerje</span>
            </div>
        </div>
        <div class="font-secondary f-w-500"><i class="icon-arrow-up icon-rotate me-1"></i><span>+50%</span></div>
    </div>
 </div>

      <div class="col-xl-12">
        <div class="card widget-1 gradient-bg">
          <div class="card-body">
            <div class="widget-content">
              <div class="widget-round primary">
                <div class="bg-round">
                  <svg class="svg-fill">
                    <use href="{% static 'assets/svg/icon-sprite.svg'%}#tag"> </use>
                  </svg>
                  <svg class="half-circle svg-fill">
                    <use href="{% static 'assets/svg/icon-sprite.svg'%}#halfcircle"></use>
                  </svg>
                </div>
              </div>
              <div>
                <h4 id="cashbackValue"></h4><span class="f-light">Zbritje</span>
              </div>
            </div>
            <div class="font-primary f-w-500"><i class="icon-arrow-up icon-rotate me-1"></i><span>+70%</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>




<div class="col-xxl-auto col-xl-3 col-sm-6 box-col-6">
  <div class="row">
    <div class="col-xl-12">
      <div class="card widget-1 gradient-bg">
        <div class="card-body">
          <div class="widget-content">
            <div class="widget-round warning">
              <div class="bg-round">
                <svg class="svg-fill">
                  <use href="{% static 'assets/svg/icon-sprite.svg'%}#return-box"> </use>
                </svg>
                <svg class="half-circle svg-fill">
                  <use href="{% static 'assets/svg/icon-sprite.svg'%}#halfcircle"></use>
                </svg>
              </div>
            </div>
            <div>
              <h4 id="transactionValue">5555</h4><span class="f-light">Fatura</span>
            </div>
          </div>
          <div class="font-warning f-w-500"><i class="icon-arrow-down icon-rotate me-1"></i><span>-20%</span></div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="card widget-1 gradient-bg">
          <div class="card-body">
            <div class="widget-content">
              <div class="widget-round success">
                <div class="bg-round">
                  <svg class="svg-fill">
                    <use href="{% static 'assets/svg/icon-sprite.svg'%}#rate"> </use>
                  </svg>
                  <svg class="half-circle svg-fill">
                    <use href="{% static 'assets/svg/icon-sprite.svg'%}#halfcircle"></use>
                  </svg>
                </div>
              </div>
              <div>
                <h4 id="userswithmultiple"></h4><span class="f-light">Bleres te Perseritur</span>
              </div>
            </div>
            <div class="font-success f-w-500"><i class="icon-arrow-up icon-rotate me-1"></i><span>+70%</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="col-xxl-auto col-xl-3 col-sm-6 box-col-6">
  <div class="row">
    <div class="col-xl-12">
      <div class="card widget-1 gradient-bg">
        <div class="card-body">
          <div class="widget-content">
            <div class="widget-round warning">
              <div class="bg-round">
                <svg class="svg-fill">
                  <use href="{% static 'assets/svg/icon-sprite.svg'%}#return-box"> </use>
                </svg>
                <svg class="half-circle svg-fill">
                  <use href="{% static 'assets/svg/icon-sprite.svg'%}#halfcircle"></use>
                </svg>
              </div>
            </div>
            <div>
              <h4 id="transactionValue"></h4><span class="f-light">Fatura</span>
            </div>
          </div>
          <div class="font-warning f-w-500"><i class="icon-arrow-down icon-rotate me-1"></i><span>-20%</span></div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="card widget-1 gradient-bg">
          <div class="card-body">
            <div class="widget-content">
              <div class="widget-round success">
                <div class="bg-round">
                  <svg class="svg-fill">
                    <use href="{% static 'assets/svg/icon-sprite.svg'%}#rate"> </use>
                  </svg>
                  <svg class="half-circle svg-fill">
                    <use href="{% static 'assets/svg/icon-sprite.svg'%}#halfcircle"></use>
                  </svg>
                </div>
              </div>
              <div>
                <h4 id="userswithmultiple"></h4><span class="f-light">Bleres te Perseritur</span>
              </div>
            </div>
            <div class="font-success f-w-500"><i class="icon-arrow-up icon-rotate me-1"></i><span>+70%</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% load static %}
<div class="row">
    <!-- Business Horeca Card -->
    <div class="col-xxl-4 col-xl-6 box-col-12">
        <div class="card">
            <div class="card-header card-no-border">
                <div class="header-top d-flex justify-content-between">
                    <h5 class="f-w-600">Business Horeca</h5>
                    <div class="dropdown icon-dropdown">
                        <button class="btn dropdown-toggle" id="business-userdropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="icon-more-alt"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="business-userdropdown">
                            <a class="dropdown-item" href="#" data-filter="daily">Daily</a>
                            <a class="dropdown-item" href="#" data-filter="weekly">Weekly</a>
                            <a class="dropdown-item" href="#" data-filter="monthly">Monthly</a>
                            <a class="dropdown-item" href="#" data-filter="yearly">Yearly</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0 d-flex align-items-center justify-content-between">
                <div class="user-stats">
                    <div class="d-flex align-items-center">
                        <div class="user-icon primary">
                            <div class="user-box"><i class="font-primary" data-feather="user-plus"></i></div>
                        </div>
                        <div class="text-end ms-2">
                            <h5 class="mb-1" id="business-daily-total-users-increase">0</h5>
                            <span class="font-primary d-flex align-items-center">
                                <i class="icon-arrow-up icon-rotate me-1"></i>
                                <span class="f-w-500" id="business-daily-percentage-increase">0.00%</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="user-stats">
                    <div class="d-flex align-items-center">
                        <div class="user-icon success">
                            <div class="user-box"><i class="font-success" data-feather="user-minus"></i></div>
                        </div>
                        <div class="text-end ms-2">
                            <h5 class="mb-1" id="business-daily-total-users-decrease">0</h5>
                            <span class="font-danger d-flex align-items-center">
                                <i class="icon-arrow-down icon-rotate me-1"></i>
                                <span class="f-w-500" id="business-daily-percentage-decrease">0.00%</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0">
                <div id="business-daily-chart"></div>
            </div>
        </div>
    </div>


    <div class="col-xxl-4 col-xl-3 col-sm-6 box-col-6">
        <div class="card">
          <div class="card-body pt-0">
            <div class="monthly-profit">
              <div id="profitmonthly1"></div>
            </div>
          </div>
        </div>
    </div>

    <!-- Consumer Loyalty Card -->
    <div class="col-xxl-4 col-xl-6 box-col-12">
        <div class="card">
            <div class="card-header card-no-border">
                <div class="header-top d-flex justify-content-between">
                    <h5 class="f-w-600">Consumer Loyalty</h5>
                    <div class="dropdown icon-dropdown">
                        <button class="btn dropdown-toggle" id="consumer-userdropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="icon-more-alt"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="consumer-userdropdown">
                            <a class="dropdown-item" href="#" data-filter="daily">Daily</a>
                            <a class="dropdown-item" href="#" data-filter="weekly">Weekly</a>
                            <a class="dropdown-item" href="#" data-filter="monthly">Monthly</a>
                            <a class="dropdown-item" href="#" data-filter="yearly">Yearly</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0 d-flex align-items-center justify-content-between">
                <div class="user-stats">
                    <div class="d-flex align-items-center">
                        <div class="user-icon primary">
                            <div class="user-box"><i class="font-primary" data-feather="user-plus"></i></div>
                        </div>
                        <div class="text-end ms-2">
                            <h5 class="mb-1" id="consumer-total-users-increase">0</h5>
                            <span class="font-primary d-flex align-items-center">
                                <i class="icon-arrow-up icon-rotate me-1"></i>
                                <span class="f-w-500" id="consumer-percentage-increase">0.00%</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="user-stats">
                    <div class="d-flex align-items-center">
                        <div class="user-icon success">
                            <div class="user-box"><i class="font-success" data-feather="user-minus"></i></div>
                        </div>
                        <div class="text-end ms-2">
                            <h5 class="mb-1" id="consumer-total-users-decrease">0</h5>
                            <span class="font-danger d-flex align-items-center">
                                <i class="icon-arrow-down icon-rotate me-1"></i>
                                <span class="f-w-500" id="consumer-percentage-decrease">0.00%</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0">
                <div id="consumer-daily-chart"></div>
            </div>
        </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const businessDropdownItems = document.querySelectorAll('#business-userdropdown .dropdown-item');

    const businessTotalUsersIncreaseElem = document.getElementById('business-daily-total-users-increase');
    const businessPercentageIncreaseElem = document.getElementById('business-daily-percentage-increase');
    const businessTotalUsersDecreaseElem = document.getElementById('business-daily-total-users-decrease');
    const businessPercentageDecreaseElem = document.getElementById('business-daily-percentage-decrease');

    let businessData = null;

    businessDropdownItems.forEach(item => {
        item.addEventListener('click', function(event) {
            event.preventDefault();
            const filter = this.getAttribute('data-filter');
            updateBusinessContent(filter);
        });
    });

    function fetchBusinessData() {
        fetch('/business_summary/?format=json')
            .then(response => response.json())
            .then(data => {
                businessData = data;
                updateBusinessContent('monthly'); // Default to daily
            })
            .catch(error => console.error('Error fetching business data:', error));
    }

    function updateBusinessContent(filter) {
        if (!businessData) return;

        const data = businessData[filter];
        const enabled = data.enabled[0];
        const disabled = data.disabled[0];

        businessTotalUsersIncreaseElem.textContent = enabled.total_count;
        businessPercentageIncreaseElem.textContent = enabled.percentage_difference.toFixed(2) + '%';
        businessTotalUsersDecreaseElem.textContent = disabled.total_count;
        businessPercentageDecreaseElem.textContent = disabled.percentage_difference.toFixed(2) + '%';
    }

    // Fetch initial data for business card
    fetchBusinessData();
});
</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const consumerDropdownItems = document.querySelectorAll('#consumer-userdropdown .dropdown-item');

    const consumerTotalUsersIncreaseElem = document.getElementById('consumer-total-users-increase');
    const consumerPercentageIncreaseElem = document.getElementById('consumer-percentage-increase');
    const consumerTotalUsersDecreaseElem = document.getElementById('consumer-total-users-decrease');
    const consumerPercentageDecreaseElem = document.getElementById('consumer-percentage-decrease');

    let consumerData = null;

    consumerDropdownItems.forEach(item => {
        item.addEventListener('click', function(event) {
            event.preventDefault();
            const filter = this.getAttribute('data-filter');
            updateConsumerContent(filter);
        });
    });

    function fetchConsumerData() {
        fetch('/consumer_summary/?format=json')
            .then(response => response.json())
            .then(data => {
                consumerData = data;
                updateConsumerContent('monthly'); // Default to daily
            })
            .catch(error => console.error('Error fetching consumer data:', error));
    }

    function updateConsumerContent(filter) {
        if (!consumerData) return;

        const data = consumerData[filter];
        const enabled = data.enabled[0];
        const disabled = data.disabled[0];

        consumerTotalUsersIncreaseElem.textContent = enabled.total_count;
        consumerPercentageIncreaseElem.textContent = enabled.percentage_difference.toFixed(2) + '%';
        consumerTotalUsersDecreaseElem.textContent = disabled.total_count;
        consumerPercentageDecreaseElem.textContent = disabled.percentage_difference.toFixed(2) + '%';
    }

    // Fetch initial data for consumer card
    fetchConsumerData();
});
</script>







<style>
  .gradient-bg1 {
    background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);
    color: white;
    border-radius: 1em;
    padding: 1em;
  }
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .user-stats {
    display: flex;
    align-items: center;
  }
  .user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .text-end {
    text-align: right;
  }
  .ms-2 {
    margin-left: 0.5rem;
  }
</style>


 <script>
// profit monthly
var optionsprofit = {
    labels: ['Loyality', 'Horeca'],
    series: [410926, 3984],
    chart: {
      type: 'donut',
      height: 230, // Adjusted height to make the chart smaller
    },
    dataLabels: {
          enabled: false
    },
    legend: {
        position: 'bottom',
        fontSize: '14px',
        fontFamily: 'Rubik, sans-serif',
        fontWeight: 500,
        labels: {
          colors: ["var(--chart-text-color)"],
        },
        markers: {
          width: 6,
          height: 6,
        },
        itemMargin: {
          horizontal: 7,
          vertical: 0
        },
    },
    stroke: {
      width: 10,
      colors: ["var(--light2)"],
    },
    plotOptions: {
      pie: {
        expandOnClick: false,
        donut: {
          size: '83%',
          labels: {
              show: true,
              name: {
                offsetY: 4,
              },
              total: {
                show: true,
                fontSize: '20px',
                fontFamily: 'Rubik, sans-serif',
                fontWeight: 500,
                label: '414,910',
                formatter: () => 'Total Users'
              }
            },
        }
      }
    },
    states: {
      normal: {
          filter: {
              type: 'none',
          }
      },
      hover: {
          filter: {
              type: 'none',
          }
      },
      active: {
          allowMultipleDataPointsSelection: false,
          filter: {
              type: 'none',
          }
      },
    },
    colors: ["#54BA4A", "var(--theme-deafult)", "#FFA941"],
    responsive: [{
      breakpoint: 1630,
      options: {
        chart: {
          height: 190 // Adjusted height for the responsive breakpoint
        },
      }
    },
    {
      breakpoint: 1584,
      options: {
        chart: {
          height: 130 // Adjusted height for the responsive breakpoint
        },
      }
    },
    {
      breakpoint: 1473,
      options: {
        chart: {
          height: 130 // Adjusted height for the responsive breakpoint
        },
      }
    },
    {
      breakpoint: 1425,
      options: {
        chart: {
          height: 130 // Adjusted height for the responsive breakpoint
        },
      }
    },
    {
      breakpoint: 1400,
      options: {
        chart: {
          height: 130 // Adjusted height for the responsive breakpoint
        },
      }
    },
    {
      breakpoint: 480,
      options: {
        chart: {
          height: 120 // Adjusted height for the responsive breakpoint
        },
      }
    }]
};

var chartprofit = new ApexCharts(document.querySelector("#profitmonthly1"), optionsprofit);
chartprofit.render();
</script>
